* {
    font-family: "Meiryo";
    font-size: 12px;
}

body, html {
    margin: 0;
}

html {
    height: 100%;
    background-color: transparent;
    /*background-color: rgba(255, 0, 0, 0.2);*/
}

.resizeHandle {
    background-image: url(handle.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.ddHeader {
    background-color: blue;
    color: white;
    font-size: 20px;
    padding: 3px;
}

.ddHeader.passageok {
    background: rgba(255, 0, 0, 1.0);
}

#canvasWrapper {
    width: 100%;
}

#canvas {
    background-color: transparent;
}

#ddFooter {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px;
    font: 40px monospace;
}

pre, #traplist, .debug {
    word-break: break-all;
    white-space: pre-wrap;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px;
    font: 14px monospace;
}
th,td {
    color: #fff;
}
